<meta property="og:url" content="https://lang-lounge.github.io" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Lang Lounge" />
<meta property="og:description" content="人工言語や自然言語の話題を取り扱うDiscordコミュニティ" />
<meta property="og:site_name" content="Lang Lounge" />
<meta property="og:image" content="https://lang-lounge.github.io/ogp-image.png" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Montserrat:wght@800&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:wght@100..900&family=Roboto+Mono:wght@100..700&display=swap" rel="stylesheet">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/assets/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/assets/apple-icon.png"><!-- 180×180 -->
<link rel="icon" href="/favicon.ico" sizes="32x32"><!-- 32×32 -->