<header>
    <div class="header">
        <div class="headerBox">
            <a href="/">
                <div class="logoBox">
                    <img class="icon" src="/assets/icon.svg"/>
                    <span class="title">Lang Lounge</span>
                </div>
            </a>
            <div class="discordLink">
                <a href="https://discord.gg/nwg4banfEH" target="_blank">
                    <i class="fa-brands fa-discord"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="linkBar">
        <a href="/ranrankai">らんらん会</a>
        <a href="/sousoukai">想智創世会議</a>
        <a href="/eventcalendar">イベントカレンダー</a>
    </div>
</header>